<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bolzano Order</title>
  </head>
  <body>
    <h1>Bolzano Italian Cruisine Order</h1>
    <h2>{{ note }}</h2>
    <form action="{% url 'order' %}" method="post">
      <!-- cross site script -->
      <h2>Pizza Order</h2>
      {% csrf_token %} {{ pizzaform}}
      <br />
      <br />
      <h2>Customer Details</h2>
      {{ customerform }}
      <br />
      <br />
      <input type="submit" value="Submit Order" />
    </form>
    <h3>Want another pizza?</h3>

    <form action="{% url 'pizzas' %}" method="get">
      {{ multiple_form }}
      <input type="submit" value="Get Pizzas" />
    </form>
  </body>
</html>
