<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nania's Garden</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% load widget_tweaks %}

    <div class="container">
      <h1>Order a Pizza</h1>

      <h2>{{ note }}</h2>
      {% if created_pizza_pk %}
      <a href="{% url 'edit_order' created_pizza_pk %}">Edit Your Order</a>
      {% endif %}

      <form action="{% url 'order' %}" method="post">
        {% csrf_token %} {% for field in pizzaform %}
        <div class="form-group">
          {{ field.errors }} {{ field.label_tag }} {% render_field field
          class="form-control" %}
        </div>
        {% endfor %}
        <input type="submit" value="Order Pizza" />
      </form>

      <br /><br />
      Want more than one pizza?
      <form action="{% url 'pizzas' %}" method="get">
        {% csrf_token %} {{ multiple_form }}
        <input type="submit" value="Get Pizzas" />
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
